.container{
    flex-grow: 1;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px;
}
.cartItems{
    flex:4;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;
    padding: 20px 10px;
    box-sizing: border-box;
}
.checkoutSection{
    flex: 2;
    min-width: 320px;
    border-radius: 12px;
    
}
.checkoutCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: sticky;
    top: 100px;
    background-color: var(--main-bg);
    border-radius: 12px;
    font-weight: 600;
    font-size: 24px;
}
.header{
    background-color: var(--selected-bg);
    color: var(--primary-text);
    font-weight: 600;
    width: 100%;
    text-align: center;
    border-radius: 12px 12px 0 0;
    padding: 10px 0;
}
.totalInfo{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.checkoutCard button{
    width: 70%;
    font-size: 18px;
    background-color: var(--selected-bg);
    border: 1px solid transparent;
    transition: 0.5s;
    margin-bottom: 20px;
}
.checkoutCard button:hover{
    background-color: var(--primary-text);
    filter: brightness(85%);
    border: 1px solid white;
}
.cartItem{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid var(--selected);
    border-radius: 12px;
    transition: 0.2s;
}
.cartItem:hover{
    border-color:  var(--primary-text);
    transform: scale(1.001);
}
.productImg{
    height: 150px;
}
.mainInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.title{
    font-size: 20px;
    font-weight: 600;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
}
.price{
    font-size: 26px;
    font-weight: 600;
}
.quantitySection{
    display: flex;
    gap: 10px;
    align-items: center;
}

svg{
    color: var(--primary-text);
    cursor: pointer;
    width: 40px;
    transition: 0.3s;
}
svg:hover{
    transform: scale(1.1);
    color: red;
}
@media(max-width: 1240px){
    .cartItem{
        justify-content: center;
        gap: 40px;
    }
}
@media(min-width: 910px) and (max-width:1240px){
    .cartItems{
        max-width: 600px;
    }
}
@media(max-width: 400px){
    .quantitySection{
        flex-direction: column;
    }
}
