.logoGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
}
.logo{
    width: 50px;
}
.logoText{
    font-size: 36px;
    color: var(--primary-text);
    font-family: "Bruno Ace", serif;
    font-weight: 600;
}
@media(max-width: 625px){
    .logoText{
        display: none;
    }
}
.logoGroup a{
    display: flex;
    
}