.cardItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 70%;
    padding: 20px;
    background-color: var(--main-bg);
    border-radius: 14px;
    box-sizing: border-box;
    text-align: justify;
    -webkit-box-shadow: -12px 14px 28px -19px rgba(161, 144, 250, 1);
    -moz-box-shadow: -12px 14px 28px -19px rgba(161, 144, 250, 1);
    box-shadow: -12px 14px 28px -19px rgba(161, 144, 250, 1);
    color: rgb(232, 216, 243);
}
.mainHeader{
    margin: 0;
    padding: 0;
    align-self: center;
    text-align: center;
}
.logo{
    width: 200px;
}
.textSection{
    width: 300px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
@media(max-width:1380px){
    .cardItem{
        width: 100%;
    }
}