.nav {
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.link {
    height: 60px;
    width: 100px;
    position: relative;
    font-size: 18px;
    color: var(--primary-text);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.link:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: var(--primary-text);
    bottom: 0;
    left: 50%;
    transition: 0.2s ease-out;
}

.link:hover:after {
    left: 0;
    width: 100%;
    pointer-events: none;
}

:global(a.active):before {
    content: '';
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--selected-bg);
}

:global(a.active):after {
    width: 100%;
    left: 0;
    background-color: var(--selected);
}

.cart {
    width: 35px;
}

.cartLink {
    position: relative;
}

.cartQty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -22px;
    bottom: 1px;
    color: #e8e5eb;
    background-color: var(--selected-bg);
    border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
    min-width: min-content;
    box-sizing: border-box;
    border: 1px solid var(--primary-text);
}

@media(max-width: 625px) {
    .link {
        width: 80px;
    }
}