.navContainer{
    display: flex;
    flex-direction: column;
    min-width: min-content;
    padding: 20px;
    flex-grow: 1;
}
.navCard{
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}
.sectionHeader{
    font-size: 24px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: 600;
    background-color: var(--selected-bg);
    color: var(--primary-text);
    padding: 15px;
}
.cardContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
}
.cardContent div{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in 0.1s;
}
.cardContent div:hover{
    color: var(--selected);
}
.cardContent div.active{
    color: var(--primary-text);
}